#menu ul {
    margin:0px;
    background-color:black;
    list-style:none;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    padding: 10px 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#menu ul li a:hover{
    color: red;
}
#capa{
    height: 225px;
    width: 1264px;
    background-color: black;
    color: white;
}