{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href= {{ url_for('static',filename='css/message_style.css') }}>

    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <nav id="menu">
       <header>
       <div id="capa">

       </div>

           <ul>
               <li><a href="/"> Home </a></li>
               <li><a href="{%  url 'clientes' %}"> Clientes </a></li>
               <li><a href="{%  url 'produtos' %}"> Produtos </a></li>
               <li><a href="{%  url 'fornecedores' %}"> Fornecedores </a></li>
               <li><a href="/"> Logistica </a></li>
               {% if user.is_authenticated %}
                   <button><a href="{% url "logout" %}">Sair</a></button>
               {% else %}
                   <button><a href="{% url "login" %}">Login</a></button>
               {% endif %}
           </ul>



                <h4><a href="{%  url 'new' %}"> Adicionar Post </a></h4>

        </header>
    </nav>

    <div class="container">
        {% block content %} {% endblock content %}
    </div>
</body>
</html>